body {background-color: #303841;
      }
  hr{
    border-color: #EEEEEE;
    border-style: dotted none none;
    border-width: 8px;
    border-top-style: dotted;
    width:10%;
  }
  hr:hover{
      border-color: #D72323;
      }
  img{
      height: 200px;
        }
/*kép méret állítás img heighet*/
/*a hr{border-sytle második none ja a magasságát azaz az a "height: 0px;-ot hoz hasonló}*/

    th{color:#EEEEEE;}
  h1 {color: #EEEEEE;
      font-size:50px;}
  h1:hover{color:#D72323;}
  h2{color:#EEEEEE}
  h2:hover{color:#D72323;}
  h3{color: #EEEEEE; }
  h3:hover{color:#D72323;}
  h4:hover{color:#D72323;}

  .nagy{
    height: 500px;
  }
  .kerek{
    border-radius: 30%
  }
  .kerek:hover{
   border-radius: 1%
  }
  .potjo{
      height: 140px}

  .links:hover{
    color: #D72323;
  }
  .vkep:hover{
    height:400px;
  }
  a{color:#EEEEEE}
  a:hover{color:#D72323}
